body {
    padding: 0;
}

.logoSize {
    height: 100px;
}

.backdrop {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxJmJEDgkNqdHv9Q_K0-k8dTHzaH38562BEQ&usqp=CAU);
    background-size: cover;
}

.backdropSize {
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .backdrop {
        background-image: none;
    }

    .beFree {
        position: sticky;
    }

    .papa {
        position: sticky;
    }
}

.customPadding {
    margin-left: 10%;
    padding-right: 25%;
}

.beFree {
    position: absolute;
}

.papa {
    position: relative;
}